.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #093E64;
    /* background-color: #5ab575; */

    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; */
}

.box-buttons {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFF;
}

.header .logo {
    max-height: 42px;
}

.header .title-group {
    padding-left: 35px;
    color: #FFF;
}

.title-group > h1 {
    font-size: 35px;
}

img {
    max-height: 30px;
}

.icon {
    padding-right: 5px;
    margin-bottom: 5px;
}

.button {
    color: #093E64;
    background-color: #5ab575;
}