<mat-toolbar class="header mat-elevation-z2">
  <span>
    <a routerLink="/">
      <img class="logo" src="../../../../assets/img/Logo-SAT-int-branco.png" alt="logo">
    </a>
  </span>

  <span class="title-group">
    <h1>
      Gerenciador de Tarefas
    </h1>
  </span>

  <div class="box-buttons">
    <a mat-raised-button routerLink="/" class="button">
      <i class="icon material-icons">
        home
      </i>
      Início
    </a>
    <a mat-raised-button routerLink="/funcionarios" class="button">
      <i class="icon material-icons">
        groups
      </i>
      Colaboradores
    </a>
  </div>
</mat-toolbar>
