<mat-card>
    <mat-card-title>Remover Tarefa</mat-card-title>
  
    <form >
      <mat-form-field>
        <input
          name="nome"
          placeholder="Nome"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <input
          name="investimento"
          placeholder="Investimento"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <input
          name="inicio"
          placeholder="Início"
          matInput
          disabled
        >
      </mat-form-field>
      <mat-form-field>
        <input
          name="termino"
          placeholder="Término"
          matInput
          disabled
        >
      </mat-form-field>
    </form>
    
    <button mat-raised-button color="warn">
      Excluir
    </button>
        
    <button mat-raised-button (click)="cancel()" class="return">
      Cancelar
    </button>
  </mat-card>