<mat-card>
    <mat-card-title>Editar Colaborador</mat-card-title>
  
    <form >
      <mat-form-field>
        <input
          name="nome"
          placeholder="Nome"
          matInput [(ngModel)]="funcionario.nome"
        >
      </mat-form-field>
      <mat-form-field>
        <input
          name="cargo"
          placeholder="Cargo"
          matInput [(ngModel)]="funcionario.cargo"
        >
      </mat-form-field>
    </form>
  
    <button mat-raised-button (click)="editarFuncionario()" class="confirm">
      Confirmar
    </button>
      
    <button mat-raised-button (click)="cancel()" color="warn">
      Cancelar
    </button>
  </mat-card>