<div class="box">
  <mat-card class="home mat-elevation-z3 card">
    <mat-card-title class="title">
      {{funcionario.nome}}
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
      {{funcionario.cargo}}
    </mat-card-subtitle>
  </mat-card>
  <button mat-raised-button (click)="irParaCriacaoTarefa()">
    Nova Tarefa
  </button>
  <h2>Tarefas:</h2>
  <div class="box-cards">
    <mat-card class="example-card card-tarefa" *ngFor="let tarefa of funcionario.tarefas">
      <mat-card-header class="card-header">
        <mat-card-title class="title-card">{{tarefa.nome}}</mat-card-title>
        <mat-card-subtitle class="subtitle-card">Investimento: R${{tarefa.investimento}}</mat-card-subtitle>
      </mat-card-header>
      <div class="box-image">
        <img mat-card-image src="../../../../assets/img/Logo-SAT.png" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-content>
        <p>
          Início: {{tarefa.inicio}}
        </p>
        <p>
          Término: {{tarefa.termino}}
        </p>
      </mat-card-content>
      <mat-card-actions class="box-actions">
          <a routerLink="/funcionarios" class="done">
            <i class="material-icons">check_circle_outline</i>
          </a>
          <a routerLink="/funcionarios" class="edit">
            <i class="material-icons">edit</i>
          </a>
          <a routerLink="/funcionarios/{{funcionario.id}}/tarefas/excluir/{{tarefa.id}}" class="delete">
            <i class="material-icons">delete</i>
          </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>