.box {
    width: 90%;
}

.card {
    margin-top: 15px;
    width: 90%;
    margin-left: 20px;
}

h2 {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 25px;
}

button {
    background-color: #093E64;
    color: #FFF;
    margin-top: 15px;
    margin-left: 20px;

}

.box-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.card-tarefa {
    width: 300px;
    height: 300px;
    margin-bottom: 90px;
}

.card-header {
    display: flex;
    margin-bottom: 15px;
    margin-left: -16px;
}

.title-card {
    font-size: 18px;
}

.subtitle-card {
    margin-bottom: 10px;
}

.box-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #EEE;
    margin-bottom: 15px;
}

img {
    max-height: 120px;
    max-width: 150px;
    margin-bottom: 0;
}

.box-actions {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.done {
    color: #5AB575;
}

.edit {
    color: #D9CD26;
}

.delete {
    color: #E35E6B;
}