<mat-card>
  <mat-card-title>Novo Colaborador</mat-card-title>

  <form >
    <mat-form-field>
      <input
        name="nome"
        placeholder="Nome"
        matInput
        [(ngModel)]="funcionario.nome"
      >
    </mat-form-field>
    <mat-form-field>
      <input
        name="cargo"
        placeholder="Cargo"
        matInput
        [(ngModel)]="funcionario.cargo"
      >
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="criarFuncionario()" class="confirm">
    Confirmar
  </button>
    
  <button mat-raised-button (click)="cancel()" color="warn">
    Cancelar
  </button>
</mat-card>