<mat-card>
    <mat-card-title>Nova Tarefa</mat-card-title>
  
    <form >
      <mat-form-field>
        <input
          name="nome"
          placeholder="Nome"
          matInput
        >
      </mat-form-field>
      <mat-form-field>
        <input
          name="investimento"
          placeholder="Investimento"
          matInput
        >
      </mat-form-field>
      <mat-form-field>
        <input
          name="inicio"
          placeholder="Início (dd/mm/aaaa)"
          matInput
        >
      </mat-form-field>
      <mat-form-field>
        <input
          name="termino"
          placeholder="Término (dd/mm/aaaa)"
          matInput
        >
      </mat-form-field>
    </form>
  
    <button mat-raised-button class="confirm">
      Confirmar
    </button>
      
    <button mat-raised-button (click)="cancel()" color="warn">
      Cancelar
    </button>
  </mat-card>