<mat-card>
  <mat-card-title>Remover Colaborador</mat-card-title>

  <form >
    <mat-form-field>
      <input
        name="nome"
        placeholder="Nome"
        matInput [value]="funcionario.nome"
        disabled
      >
    </mat-form-field>
    <mat-form-field>
      <input
        name="cargo"
        placeholder="Cargo"
        matInput [value]="funcionario.cargo"
        disabled
      >
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="deletarFuncionario()" color="warn">
    Excluir
  </button>
      
  <button mat-raised-button (click)="cancel()" class="return">
    Cancelar
  </button>
</mat-card>